<h1>{{title}}</h1>
<a href="/projects/add_movies">Let's talk about your movies</a>

{{!-- show movie data that is saved in DB --}}
<table id="contents">
  <thead>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Rate</th>
    <th>Comments</th>
    <th>Create Date</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
  {{#each dataset}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.author}}</td>
      <td>{{this.genre}}</td>
      <td>{{this.rate}}</td>
      <td>{{this.comments}}</td>
      <td>{{this.createDate}}</td>
       <td>
        {{!-- {{#if ../user}} --}}
          <a href="/projects/edit_movies/{{this._id}}" >Edit</a>
        {{!-- {{/if}} --}}
      </td>
      <td> <a href="/projects/delete/{{this._id}}" onclick="alertDel()">Delete</a></td>
    </tr>
  {{/each}}
  </tbody>
</table>
